[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "Project1/googletest"]
	path = Project1/googletest
	url = https://github.com/google/googletest.git
